<!DOCTYPE html>
<html>
<head>
    <title>Roommate Finder</title>
</head>
<body>
    <link rel = "stylesheet" href="{%staticfiles 'admin/css/style.css' %}">
    {% if user.is_authenticated %}
        <nav>
            <style>
                #link {color #ffffff}
            </style>
            Hello, {{ user.username }}!
            <a href="{% url 'profile' %}">Profile🧑</a> |
            <a href="{% url 'search_profiles' %}">Search Profiles🔍</a> |
            <a href="{% url 'logout' %}">Logout🏃</a> |
            {% comment %}
                incomplete fix when chat system added
            {% endcomment %}
            <a href="{% url 'profile' %}">Chat💬</a>
        </nav>
    {% else %}
        <nav>
          <a href="{% url 'login' %}">Login</a> |
          <a href="{% url 'register' %}">Register</a>
        </nav>
    {% endif %}

    <!-- This is the critical missing piece! -->
    {% block content %}
    {% endblock %}
</body>
</html>
