<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        {% block  title%}
        Roommate Finder
        {% endblock  %}
    </title>
    <link rel = "stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <nav>
            {% comment %}
            <style>
                #link {color #ffffff}
            </style>
            {% endcomment %}
            Hello, {{ user.username }}!
            <a href="{% url 'profile' %}" style="color: white;">Profile🧑</a> |
            <a href="{% url 'search_profiles' %}" style="color: white;">Search Profiles🔍</a> |
            <a href="{% url 'logout' %}" style="color: white;" style="color: white;">Logout🏃</a> |
            {% comment %}
                incomplete fix when chat system added
            {% endcomment %}
            <a href="{% url 'profile' %}" style="color: white;">Chat💬</a>
        </nav>
    {% else %}
        <nav>
            <a href="{% url 'login' %}" style="color: white;">Login🚪</a> |
            <a href="{% url 'register' %}" style="color: white;">Register📋</a>
        </nav>
    {% endif %}

    <!-- This is the critical missing piece! -->
    {% block content %}
    {% endblock %}
</body>
</html>
