{% extends 'base.html' %}

<body>
    <p>
        Hello, {{ user.username }}!
        <a href="{% url 'profile' %}">Profile🧑</a> |
        <a href="{% url 'search_profiles' %}">Search Profiles🔍</a> |
        <a href="{% url 'logout' %}">Logout🏃</a> |
        {% comment %}
            incomplete fix when chat system added
        {% endcomment %}
        <a href="{% url 'profile' %}">Chat💬</a> |
        <a href="{% url 'profile' %}">Chat History📖</a> |
        <a href="{% url 'profile' %}">Conversations🗣️</a>
    </p>
</body>